@using Test.Web.Data
<h3>TodoEditor</h3>

<input placeholder="Something todo" @bind="item.Title"/>
<button @onclick="() => onsave(item)">Save</button>
<button @onclick="onclose">Cancel</button>

@code {
    [Parameter] public TodoItem item { get; set; }

    [Parameter]
    public Action<TodoItem> onsave { get; set; }
    
    [Parameter]
    public Action onclose { get; set; }
}